services:
  egdc-frontend:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_BASE_URL: http://host.docker.internal:8000
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    extra_hosts:
      - "host.docker.internal:host-gateway"
