@import "tailwindcss";

:root {
  --global-color-primary: #366340;
  --global-color-secondary: #183c73;
  --global-color-text: #000e28;
  --global-color-accent: #8cc097;
  --global-color-background: #ffffff;

  --global-typography-primary-font-family: var(--font-montserrat);
  --global-typography-primary-font-weight: 600;

  --global-typography-secondary-font-family: var(--font-montserrat);
  --global-typography-secondary-font-weight: 400;

  --global-typography-text-font-family: var(--font-lora);
  --global-typography-text-font-weight: 400;

  --global-typography-accent-font-family: var(--font-montserrat);
  --global-typography-accent-font-weight: 500;

  --ecl-color-primary-100: var(--global-color-primary);
  --ecl-color-secondary-100: var(--global-color-secondary);
}

@theme inline {
  --color-background: var(--global-color-background);
  --font-sans: var(--global-typography-primary-font-family);
  --font-serif: var(--global-typography-text-font-family);
}

body {
  background: var(--global-color-background);
  color: var(--global-color-text);
  font-family: var(--global-typography-text-font-family), serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--global-typography-primary-font-family), sans-serif;
  font-weight: var(--global-typography-primary-font-weight);
}

html body * {
  font-family: var(--font-lora) !important;
}

html:not(.ecl-ready) .ecl-js-gated {
  visibility: hidden;
  pointer-events: none;
}
